@media (min-width: 650px) {
	body {
		.center-form {
			.title-form {
				font-size: 22px !important;
			}
			.login-form {
				.mail {
					font-size: 17px !important;
				}
				.password {
					font-size: 17px !important;
				}
				.password-confirmation {
					font-size: 17px !important;
				}
			}
		}
		.menu {
			.action {
				font-size: 17px !important;
			}
		}
	}
}


#landing {
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.warning {
		text-align: center;
		width: calc(100% - 50px);
		max-width: 425px;
		position: absolute;
		left: 50%;
		top: 170px;
		transform: translateX(-50%);
		z-index: 10;
		background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
		border-radius: 5px;
		padding: 10px;
		color: red;
		font-size: 20px;
	}
	
	.background {
		//filter: grayscale(1);
		//-webkit-filter: grayscale(1);
		background-image: url('Assets/Backgrounds/1b.jpg'), url('Assets/Backgrounds/small/1b.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		overflow: hidden;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.menu {
		position: absolute;
		z-index: 10;
		width: 100%;
		background-color: rgba(0,0,0,0.7);
		box-shadow: 0px 0px 10px black;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		justify-content: flex-end;
		-webkit-justify-content: flex-end;

		.action {
			border: none;
			background: none;
			color: white;
			font-family: RobotoRegular;
			font-size: 3vmax;
			cursor: pointer;
			padding: 10px;
			text-decoration: none;
		}
		.action:hover {
			color: #F7A71B;
		}
	}

	.top-div {
		display: block;
		width: 100%;
		position: relative;
		height: 50%;
		
		.logo2 {
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(320px + 20%);
			max-width: calc(100% - 40px);
			transform: translate(-50%,-50%);
			opacity: 1;
		}
		.baseline {
			font-family: RobotoThin;
			width: 80%;
			text-align: center;
			color: white;
			font-size: 25px;
			position: absolute;
			top: calc(50% + 50px);
			left: 10%;
		}
	}
	
	.bottom-div {
		display: block;
		width: 100%;
		position: relative;
		height: 50%;
		
		.center-form {
			text-align: center;
			width: calc(100% - 50px);
			max-width: 425px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
			border-radius: 2px;
			padding: 0px 0px 20px 0px;

			.title-form {
				font-family: RobotoThin;
				color: white;
				font-size: 5vmax;
				padding: 10px;
			}
			.form-notif {
				color: #F7A71B;
				height: 0;
			}
			.login-form {
				position: relative;
				
				.mail {
					width: 80%;
					padding: 5px;
					font-size: 3vmax;
					border: none;
					margin: 0;
					border-bottom: lightgrey solid 1px;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
				.password {
					width: 80%;
					padding: 5px;
					margin: 0;
					font-size: 3vmax;
					border: none;
				}
				.password-confirmation {
					width: 80%;
					padding: 5px;
					margin: 0;
					font-size: 3vmax;
					border: none;
				}
				.borderMiddle {
					border-bottom: lightgrey solid 1px;
					border-radius: 0px;
				}
				.borderBottom {
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				.submit {
					background-color: #F7A71B;
					font-size: 15px;
					color: #FFF;
					border-radius: 100%;
					cursor: pointer;
					display: block;
					width: 45px;
					height: 45px;
					position: absolute;
					border: medium none;
					//top: 50%;
					top: 30px;
					transform: translate(-50%, -50%);
					left: 90%;
					transition: all 0.2s;
					
					i {
						position: relative;
						right: 2px;
						bottom: 1px;
					}
				}
				.submit:hover {
					background-color: rgb(255,175,35);
					box-shadow: 0px 0px 25px black;
				}
			}
		}
	}
}

