

@media (min-width: 650px) {
	.landing {
		.center-form {
			.title-form {
				font-size: 20px !important;
			}
			.login-form {
				.mail {
					font-size: 15px !important;
				}
				.password {
					font-size: 15px !important;
				}
			}
		}
		.head {
			.menu {
				.signin {
					font-size: 15px !important;
				}
			}
		}
	}
}


.landing {
	overflow: hidden;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.background {
		filter: grayscale(1);
		-webkit-filter: grayscale(1);
		background-image: url('Assets/Backgrounds/pre2.jpg'), url('Assets/Backgrounds/small/pre2.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		overflow: hidden;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.center-form {
		text-align: center;
		width: calc(100% - 50px);
		max-width: 425px;
		position: relative;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
		border-radius: 5px;
		padding: 0px 0px 20px 0px;

		.title-form {
			font-family: RobotoThin;
			color: white;
			font-size: 5vmax;
			padding: 10px;
		}

		.login-form {
			position: relative;
			
			.mail {
				width: 80%;
				padding: 5px;
				font-size: 3vmax;
				border: none;
				margin: 0;
				border-bottom: lightgrey solid 1px;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}
			.password {
				width: 80%;
				padding: 5px;
				margin: 0;
				font-size: 3vmax;
				border: none;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
			.submit {
				background-color: #F7A71B;
				font-size: 15px;
				color: #FFF;
				border-radius: 100%;
				cursor: pointer;
				display: block;
				width: 45px;
				height: 45px;
				position: absolute;
				border: medium none;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 90%;
				transition: all 0.2s;
				
				i {
					position: relative;
					right: 2px;
					bottom: 1px;
				}
			}
			.submit:hover {
				background-color: rgb(255,175,35);
				box-shadow: 0px 0px 25px black;
			}
		}
	}

	.head {
		position: relative;
		width: 100%;
		z-index: 10;

		.menu {
			position: absolute;
			width: 100%;
			text-align: right;
			background-color: rgba(0,0,0,0.7);
			box-shadow: 0px 0px 10px black;

			.signin {
				border: none;
				background: none;
				color: white;
				font-family: RobotoRegular;
				font-size: 3vmax;
				cursor: pointer;
				padding: 10px;
			}
		}
		.buffer-top {
			width: 100%;
			height: 20vmax;
			min-height: 70px;
			max-height: 200px;
		}
		.logo2 {
			position: relative;
			left: 50%;
			width: 45vmax;
			min-width: 250px;
			max-width: 500px;
			transform: translate(-50%,-50%);
			opacity: 1;
		}
		.buffer-bottom {
			width: 100%;
			height: 40px;
		}
	}
}
