.slide-menu {
	top: 0px;
	background: white;
	height: 100%;
	z-index: 25;
	font-size: 20px;
	padding: 0px;
	margin: 0px;

	.separator {
		padding: 0;
		width: 100%;
		cursor: default;
		height: 20px;
	}
}
.slide-menu > * {
	display: block;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
}
@media (min-width: 680px) {
	#mainmenu {
		transform: none !important;
		-webkit-transform: none !important;
	}
}
#mainmenu * {
	color: lightgrey;
}
#mainmenu {
    background-color: #6F6F6E;
	color: lightgrey;
	padding: 10px;
	width: calc(200px - 20px);
	
	.forum-menu {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		width: 100%;
	}
	.menu-highlight {
		padding: 5px;
		border-radius: 4px;
	}
	.menu-highlight:hover {
		background: #F0F0F0;
		color: black;
	}
	.menu-highlight:hover * {
		color: black;
	}
	.invitation {
		margin: 0px;
		width: calc(100% - 10px);
		cursor: default;
		padding: 5px;
		position: relative;
		border-bottom: 1px solid black;

		.title {
			width: 100%;
			text-align: center;
			padding-bottom: 5px;
		}
		.action-menu {
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: center;
			-webkit-justify-content: space-between;
			-webkit-align-items: center;
		}
		.action {
			cursor: pointer;
			padding: 5px;
			border-radius: 0px;
			background: white;
			border: 1px solid black;
			flex-grow: 2;
			-webkit-flex-grow: 2;
			margin: 0px 3px;
		}
		.action:hover {
			background: lightgrey;
		}
	}
}
.forum-link {
	text-decoration: none;
	flex-grow: 2;
	-webkit-flex-grow: 2;
	padding: 5px;
	border: none;
	background: none;
	margin: 0px;
	cursor: pointer;

	input {
		border: none;
		background: none;
		margin: 0px;
		font-size: 18px;
		padding: 0px;
		cursor: pointer;
		width: 100%;
		text-align: left;
	}
}
.forum-settings {
	padding: 5px;
	text-decoration: none;
}
.forum-settings:hover i {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}
