.slide-menu {
	top: 0px;
	background: white;
	height: 100%;
	z-index: 25;
	font-size: 20px;
	padding: 0px;
	margin: 0px;

	.separator {
		padding: 0;
		width: 100%;
		cursor: default;
		height: 20px;
	}
}
.slide-menu > * {
	display: block;
	text-align: left;
	text-decoration: none;
}
@media (min-width: 680px) {
	#mainmenu {
		transform: none !important;
		-webkit-transform: none !important;
	}
}
#mainmenu * {
	color: lightgrey;
}
#mainmenu {
	background-color: #444444;
	color: lightgrey;
	width: 200px; 
	box-shadow: inset -10px 0px 10px -8px rgba(0,0,0,0.8);
	font-size: 16px;
	overflow: auto;

	.forum-settings {
		padding: 5px;
		text-decoration: none;
		margin: 0px 5px;
	}
	.forum-settings:hover i {
		-webkit-animation: fa-spin 2s infinite linear;
		animation: fa-spin 2s infinite linear;
		color: white;
	}
	.section-title {
		width: calc(100% - 20px);
		margin: 7px 10px;
		color: #F7A71B;
		display: flex;
		align-items: center;
		justify-content: space-between;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: space-between;
	}

	.section-separator {
		display: block;
		width: 40%;
		height: 3px;
		background-color: #F9B004;
		margin: 0px auto;
	}
	.menu-profil {
		display: flex;
		align-items: center;
		display: -webkit-flex;
		-webkit-align-items: center;

		.identicon, img {
			height: 26px;
			width: 26px;
			margin-right: 10px;
		}
	}
	.forum-link {
		text-decoration: none;
		flex-grow: 2;
		-webkit-flex-grow: 2;
		padding: 5px 5px;
		border: none;
		background: none;
		margin: 0px 5px;
		cursor: pointer;
		
		.notif {
			font-size: 8px;
			color: #F9B004;
			position: relative;
			bottom: 2px;
		}
		//input {
		//	border: none;
		//	background: none;
		//	margin: 0px;
		//	font-size: 18px;
		//	padding: 0px;
		//	cursor: pointer;
		//	width: 100%;
		//	text-align: left;
		//}
	}
	.selected {
		background-color: rgba(0,0,0,0.5);
	}
	.menu-action {
		width: calc(100% - 20px);
		padding: 12px 10px;
		font-weight: bolder;
		cursor: pointer;
	}
	.menu-action:hover {
		background-color: rgba(0,0,0,0.5);
	}
	.forum-menu {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		width: 100%;
	}
	.news-highlight {
		color: white;
		font-weight: bold;
	}
	.menu-highlight {
		border-radius: 1px;
	}
	.menu-highlight:hover {
		border-bottom: 1px solid #F0F0F0;
		margin-bottom: -1px;
		color: white;
	}
	.notification {
		display: flex;
		align-items: stretch;
		display: -webkit-flex;
		-webkit-align-items: stretch;
		margin: 0px;
		width: 100%;
		position: relative;

		a {
			display: block;
			text-decoration: none;
		}

		.title {
			width: 80%;
			padding: 6px 10px;
			cursor: pointer;
		}
		.remove:hover i {
			color: white;
		}
		.remove {
			display: flex;
			flex-direction: column;
			justify-content: center;
			display: -webkit-flex;
			-webkit-flex-direction: column;
			-webkit-justify-content: center;
			width: 20%;
			text-align: center;
			cursor: pointer;
		}
	}
}
