nav {
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	background: #2C2C2C;
	height: 40px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: all 0.2s;

	.left-module-nav, .right-module-nav {
		width: 100px;
	}
	.right-module-nav {
		margin: 0;
		text-align: right;

		.action {
			font-size: 15px;
			border: none;
			color: #F7A71B;
			border-radius: 100%;
			height: 27px;
			width: 27px;
			margin: 6px;
			transition: all 0.2s;
			background: none;
		}
		.action:hover {
			color: black;
			background-color: #F7A71B;
		}
	}
	.left-module-nav {
		margin: 0px;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;

		a {
			height: 100%;

			.logo {
				display: none;
				height: calc(100% - 14px);
				cursor: pointer;
				margin: 7px;
			}
		}
	}
	.forum-name {
		display: flex;
		align-items: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		color: white;
		font-size: 20px;
		text-align: center;
	}
	button {
		cursor: pointer;
	}
}
nav > * {
	text-align: center;
}
.my_avatar {
	display: inline-block;
	cursor: pointer;
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
.my_avatar > * {
	height: 100%;
}
@media (min-width: 680px) {
	nav {
		width: calc(100% - 200px);
		left: 200px;
		
		.left-module-nav {
			a {
				.logo {
					display: block;
				}
			}
		}
	}
	.my_avatar {
		display: none;
	}
}
