.post-options {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;

	.cell {
		font-size: 25px;
		flex-grow: 2;
		-webkit-flex-grow: 2;
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.6);
		color: black;
		margin: 0px 10px;
		text-align: center;
		border-radius: 2px;
		padding: 5px;
		transition: all 0.2s;
	}
	.cell:hover {
		background-color: rgba(255, 255, 255, 0.85);
	}
}
.progressBar {
	display: block;
	position: relative;
	width: 100%;
	height: 15px;

	.progress, .conversion {
		position:absolute;
		top: 0;
		left: 0;
		display: block;
		width: 0;
		height: calc(100% - 0px);
		margin: 0;
		padding: 0;
		transition: all 1s linear;
	}
	.progress {
		background-color: #F7A71B;
	}
	.conversion {
		background-color: red;
		z-index: 2;
	}
}
.sgf-viewer {
	max-height: 600px;
}
