.label {
	font-size: 50px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	color: darkgrey;
	cursor: pointer;
}
.underLabel {
	font-size: 15px;
	position: absolute;
	top: calc(50% + 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
	cursor: pointer;
}
#retoucheBox:hover .label{
	color: grey;
}
#retoucheBox {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	overflow: hidden;

	.placeholder {
		width: 512px;
		height: 512px;
		max-height: 100%;
		max-width: 100%;
		background: white;
		margin: 0;
		padding: 0;
	}

	input {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		z-index: 10;
	}
	img { width: 100%; }
	canvas {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.handlecontainer {
		padding: 8px;
		position: absolute;
	}
	.handletl { cursor: nw-resize; }
	.handletr { cursor: ne-resize; }
	.handlebl { cursor: sw-resize; }
	.handlebr { cursor: se-resize; }
	.handle {
		background-color: #fff;
		border: 1px solid #000;
		height: 8px;
		overflow: hidden;
		width: 8px;
	}
	.zone {
		position: absolute;
		cursor: move;
	}
	.cache {
		position: absolute;
		background: rgba(255,255,255,0.5);
	}
	.cachetop, .cachebottom, .cacheright { width: 100%; }
	.cachetop { top: 0; }
	.cachebottom, .cacheleft, .cachetop { left: 0; }
	.cachebottom { height: 100%; }
}
.unselectable {
	-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
	-webkit-user-select: none;
	-ms-user-select: none; /* From IE10 only */
	user-select: none; /* Not valid CSS yet, as of July 2012 */

	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	user-drag: none;
}
.hidden {
	display: none;
}
