section {
	position: relative;
	top: 40px;
	transition: all 0.5s;
	width: calc(100% - 20px);
	padding: 10px;
	
	.big-title {
		display: block;
		color: grey;
		font-size: 30px;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	#container {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-webkit-justify-content: center;
		-webkit-align-items: center;
		position: relative;
		width: 100%;
		filter: blur(0px);
		-webkit-filter: blur(0px);
		transition: all 0.4s;
		max-width: 1481px;
		margin: 0 auto;
	}
	.post-mini {
		display: block;
		//overflow: hidden;
		margin: 20px;
		cursor: pointer;
		width: 320px;
		min-height: 80px;
		border-radius: 2px;
		position: relative;
		text-decoration: none;

		.newcom > * {
			color: #F7A71B !important;
		}

		

		.post-preview {
		
			.post-info {
				position: relative;
				background: white;
				display: flex;
				align-items: center;
				justify-content: space-between;
				display: -webkit-flex;
				-webkit-align-items: center;
				-webkit-justify-content: space-between;
				padding: 5px;
				height: 20px;
				border-top: 1px solid lightgrey;

				.date {
					color: grey;
					font-size: 14px;
				}
			
				.comments-indicator {
					min-width: 25px;
					color: grey;
					font-size: 14px;
				}

				.op-avatar {
					width: 40px;
					height: 40px;
					border-radius: 100px;
					overflow: hidden;
					background: white;
					position: relative;
					bottom: 15px;
					left: 4px;
					border: 2px solid white;
					transition: all 0.25s;
					
					img, svg {
						height: 40px;
						width: 40px;
						border-radius: 100%;

						.bg {
							fill: #f7a71b;
						}
						.letter {
							fill: #fff;
						}
					}
				}

				.op-avatar:hover {
					transform: scale(2);
				}

				img {
					width: 100%;
				}
			}
				
			.post-preview-image {
				display: block;
				width: 320px;
				height: 180px;
				background-image: url('Assets/placeholder-mini-post.png');
			}

			.text-miniature {
				background-image: repeating-linear-gradient(top, transparent 0%, transparent 31px, rgba(0, 0, 0, 0.2) 32px, rgba(0, 0, 0, 0.14) 31px);
				background-image: -webkit-repeating-linear-gradient(top, transparent 0%, transparent 31px, rgba(0, 0, 0, 0.2) 32px, rgba(0, 0, 0, 0.14) 31px);
				background-image: -moz-repeating-linear-gradient(top, transparent 0%, transparent 31px, rgba(0, 0, 0, 0.2) 32px, rgba(0, 0, 0, 0.14) 31px);
				background-color: white;
				.paper {
				    height: 20px;
					background-image: url('Assets/bloc-note.svg');
					background-size: contain;
					background-color: rgb(230,230,230);
				}
				.text-container {
					width: 100%;
					height: 0px;
					padding-bottom: calc(56% - 20px);

					.text {
						padding: 0px 20px;

						div {
							height: 100%;
							line-height: 32px;
							font-size: 15px;
							padding: 16px 15px 0 15px;
							color: rgb(0, 0, 0);
						}
						div:first-letter {
							text-transform: capitalize;
						}
					}
				}
			}
			.miniature {
				width: 100%;
			}
		}
	}
}
