section {
	position: relative;
	top: 40px;
	transition: all 0.5s;
	width: calc(100% - 20px);
	padding: 10px;
	
	.big-title {
		display: block;
		color: grey;
		font-family: RobotoThin;
		font-size: 30px;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	#container {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		align-items: center;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-webkit-justify-content: center;
		-webkit-align-items: center;
		position: relative;
		width: 100%;
		filter: blur(0px);
		-webkit-filter: blur(0px);
		transition: all 0.4s;
		max-width: 1481px;
		margin: 0 auto;
	}
	.post-mini {
		display: block;
		overflow: hidden;
		margin: 20px;
		cursor: pointer;
		width: 280px;
		min-height: 80px;
		border-radius: 2px;
		position: relative;
		text-decoration: none;
		flex-grow: 1;
		-webkit-flex-grow: 1;
		max-width: 360px;

		.post-start {
			display: none;
		}
		
		.post-info {
			position: relative;
			background: white;
			display: flex;
			align-items: center;
			justify-content: space-between;
			display: -webkit-flex;
			-webkit-align-items: center;
			-webkit-justify-content: space-between;
			padding: 5px;
			height: 20px;
			border-top: 1px solid lightgrey;

			.date {
				color: grey;
				font-size: 14px;
			}

			.op-avatar {
				width: 40px;
				height: 40px;
				border-radius: 100px;
				overflow: hidden;
				background: white;
				position: relative;
				bottom: 15px;
				left: 4px;
				border: 2px solid white;

				img {
					height: 100%;
				}
			}
			
			.comments-indicator {
				min-width: 25px;

				.newcom {
					color: #F7A71B !important;
				}
				div {
					color: grey;
					font-size: 15px;
				}
			}
		}

		.post-preview {

			.text-container {
				.paper {
				    height: 20px;
					background-image: url('Assets/bloc-note.svg');
					background-size: contain;
				}

				.text {
					background: white;
					height: 180px;
					padding: 20px;

					div {
						height: 100%;
						line-height: 31px;
						font-size: 15px;
						background: white;
						padding: 5px 15px 0 15px;
						color: rgb(0, 0, 0);
						background-image: repeating-linear-gradient(top, transparent 0%, transparent 30px, rgba(0, 0, 0, 0.2) 31px, rgba(0, 0, 0, 0.14) 30px);
						background-image: -webkit-repeating-linear-gradient(top, transparent 0%, transparent 30px, rgba(0, 0, 0, 0.2) 31px, rgba(0, 0, 0, 0.14) 30px);
						background-image: -moz-repeating-linear-gradient(top, transparent 0%, transparent 30px, rgba(0, 0, 0, 0.2) 31px, rgba(0, 0, 0, 0.14) 30px);
					}
					div:first-letter {
						text-transform: capitalize;
					}
				}
			}
			.miniature {
				width: 100%;
			}
		}
	}
}
