.dynamicBox{
	display: inline-block;
	padding:0px;
	position:relative;
	min-height:66px;
	margin:0px auto;
	cursor:text;
	text-align:left;
	word-break: break-word;
	width: 100%;
	
	.progressBar {
		display: block;
		position: relative;
		width: 100%;
		height: 15px;

		.progress, .conversion {
			position:absolute;
			top: 0;
			left: 0;
			display: block;
			width: 0;
			height: calc(100% - 0px);
			margin: 0;
			padding: 0;
			transition: all 1s linear;
		}
		.progress {
			background-color: #F7A71B;
		}
		.conversion {
			background-color: red;
			z-index: 2;
		}
	}
}
.viewerBox{
	min-height:22px !important;
}
.dynamicBox > span > img, .dynamicBox > span > div > img { 
	margin:0px 0px; max-width: 100%
}
.dynamicBox > span > video { 
	margin:0px 0px; 
	width: 100%;
	max-height: 80vh;
	cursor: pointer;
}
/* INLINE-BLOCK IS NECESSARY TO PREVENT DIVS FROM CHROME */
.dynamicBox > div {
	display: inline-block;
	padding: 2px; 
	margin: 0px; 
	min-height: 18px;
	width: calc(100% - 4px);
}
.dynamicBox > div:focus { 
	border:none; 
	outline:none 
}
.dynamicBox > span > a, .dynamicBox > span > a:focus, .dynamicBox > span > a:hover {
	text-decoration: none;
}
.dynamicBox > span > canvas { 
	max-width: 100%; 
}
.deletable {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	cursor: default;

	.iframeLauncher {
		display: block;
		position: relative;
		cursor: pointer;
		background: #ccc no-repeat center center / cover; 
		clear: both;
		height: 0px;
		padding-bottom: 56.25%;
	}

	.iframeLauncher:before, .playButton:before {
		content: '';
		background: rgba(255, 255, 255, .6);
		height: 80px;
		width: 80px;
		display:block;
		margin: -40px 0 0 -40px;
		border-radius: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
		transition: all .1s ease;
		z-index:1;
	}

	.iframelauncher:hover:before, .playButton:hover:before {
		background: rgba(238, 238, 238, .8);
		box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
	}

	.iframeLauncher:after, .playButton:after {
		content: '';
		width: 0;
		height: 0;
		line-height:0px;
		display:block;
		border-style: solid;
		border-width: 20px 0 20px 40px;
		margin: -20px 0 0 -15px;
		border-color: transparent transparent transparent #333;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 0;
		width: 0;
		z-index:2;
	} 

	.playButton {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 50;
		cursor: pointer;
	}
	
	.b-link {
		width: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		text-align: left;
	}

	.article_small, .article_big {
		display: block;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #CCC;
		background-color: white;
	}
	.article_small {
		.preview{
			width: 150px;
			height: 150px;
			overflow:hidden;
			float: left;
			margin-right: 10px;
			border-right: 1px solid #A9A9A9;
		
			img { 
				margin:0px 0px; 
				height: calc(100% + 1px);
				transform: translate(-50%,0%);
				-webkit-transform: translate(-50%,0%);
				position: relative;
				left: 50%;
			}
		}
		.title {
			width: calc(100% - 25px);
			color: #444;
			font-size: 18px;
			font-weight: bold;
			line-height: 18px;
			padding: 10px 25px 5px 25px;
			text-align: left;
			max-height: 75px;
		}
		.description {
			width: calc(100% - 25px);
			color: #444;
			font-size: 14px;
			line-height: 15px;
			padding: 0px 25px 0px 25px;
			text-align: left;
			max-height: 100px;
		}
		.base_url {
			color: #444;
			font-size: 10px;
			padding: 0px 15px 5px 10px;
			text-align: right;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}
	.article_big {
		.preview{
			width: 100%;
			max-height: 250px;
			position: relative;
			overflow: hidden;
		
			img { 
				margin:0px 0px; 
				width: calc(100% + 1px); 
				position: relative;
				left: 50%;
				transform: translate(-50%,0%);
				-webkit-transform: translate(-50%,0%);
			}
		}
		.title {
			width: calc(100% - 50px);
			color: #444;
			font-size: 20px;
			font-weight: bold;
			line-height: 20px;
			padding: 10px 25px 5px 25px;
			text-align:left;
		}
		.description {
			width: calc(100% - 50px);
			color: #444;
			font-size: 14px;
			line-height: 18px;
			padding: 0px 25px 0px 25px;
			text-align:left;
		}
		.base_url {
			width: calc(100% - 25px);
			color: #444;
			font-size: 10px;
			padding: 0px 15px 5px 10px;
			text-align: right;
		}
	}

	.embed-responsive {
		position: relative;
		display: block;
		height: 0;
		padding: 0;
		overflow: hidden;

		.embed-responsive-item, iframe, embed, object, video {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
	.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}
	.embed-responsive-4by3 {
		padding-bottom: 75%;
	}
	.embed-responsive-square {
		padding-bottom: 100%;
	}
	.delete-btn {
		display: block;
		background: orangered; 
		width: 22px;
		color: white;
		height: 22px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 200;
		cursor: pointer;

		i {
			text-align: center;
			vertical-align: middle;
			line-height: 22px; 
		}
	}
	.editIMG {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}
#commentBox, #editBox {
	background: white;
}
