# GLOBAL
/.git
/data
/documentation
/dev

# API
/api/.web-server-pid
/api/auth.json
/api/var
/api/vendor

# EXEC
/.ash_history
/.bash_history
/.cache
/.composer
/.config
/.npm
/.php_history
/.sqlite_history
/.ssh
/.viminfo
/.yarnrc

# APP
/app/.cache
/app/node_modules
/app/yarn-error.log
/app/yarn.lock

# PUBLIC
/public/api/bundles
/public/files
/public/thumbnails
