# GLOBAL
/.git
/data

# API
/api/.web-server-pid
/api/auth.json
/api/var
/api/vendor

# EXEC
/.ash_history
/.bash_history
/.cache
/.composer
/.config
/.npm
/.php_history
/.sqlite_history
/.ssh
/.yarnrc

# APP
/app/.cache
/app/bootstrap-light/node_modules
/app/node_modules
/app/node_modules/
/app/yarn-error.log
/app/yarn.lock

# PUBLIC
/public/api/bundles/
/public/files/
/public/thumbnails/
