# GLOBAL
/data
/.git

# API
/api/var
/api/vendor
/api/auth.json
/api/.web-server-pid

# EXEC
/.composer
/.bash_history
/.ash_history
/.cache
/.yarnrc
/.sqlite_history
/.php_history
/.config
/.npm

# APP
/app/node_modules
/app/yarn.lock
/app/dist
/app/.cache
/app/yarn-error.log
/app/bootstrap-light/node_modules

# PUBLIC
/public/files
/public/thumbnails
