# API

###> symfony/framework-bundle ###
/api/.env
/api/var/
/api/vendor/
/api/auth.json
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/api/.web-server-pid
###< symfony/web-server-bundle ###

# EXEC
/.composer
/.bash_history
/.ash_history
/.cache
/.yarnrc
/.sqlite_history
/.php_history
/.config
/.npm

# APP
/app/node_modules/
/app/yarn.lock
/app/dist/
/app/.cache

# PUBLIC
/public/api/bundles/
/public/files/
/public/*.js
/public/*.map
/public/*.css
/public/*.html
/public/*.svg
/public/*.png
/public/*.jpg
