# GLOBAL
*.orig
.viminfo

# API
/api/var/
/api/vendor/
/api/auth.json
/api/.web-server-pid

# EXEC
/.composer
/.bash_history
/.ash_history
/.cache
/.yarnrc
/.sqlite_history
/.php_history
/.config
/.npm
/.ssh

# APP
/app/node_modules/
/app/yarn.lock
/app/.cache
/app/yarn-error.log

# PUBLIC
/public/api/bundles/
/public/thumbnails/
/public/lang/
/public/site.webmanifest
/public/*.js
/public/*.map
/public/*.css
/public/*.html
/public/*.svg
/public/*.png
/public/*.jpg
/public/*.ico
/public/*.woff2
/public/*.json
