# API

###> symfony/framework-bundle ###
/api/.env
/api/public/bundles/
/api/var/
/api/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/api/.web-server-pid
###< symfony/web-server-bundle ###
