parameters:
  # Adds a fallback variables if the env var is not set.
  # This allows you to run cache:warmup even if your
  # environment variables are not available yet.
  # You should not need to change this value.
  env(DATABASE_DRIVER): 'pdo_sqlite'
  env(DATABASE_SERVER_VERSION): '3.21'
  env(DATABASE_CHARSET): 'utf8'
  env(DATABASE_URL): ''

doctrine:
  dbal:
    driver: '%env(resolve:DATABASE_DRIVER)%'
    server_version: '%env(resolve:DATABASE_SERVER_VERSION)%'
    charset: '%env(resolve:DATABASE_CHARSET)%'
    url: '%env(resolve:DATABASE_URL)%'
  orm:
    auto_generate_proxy_classes: '%kernel.debug%'
    enable_native_lazy_objects: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    report_fields_where_declared: true
    mappings:
      App:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\Entity'
        alias: App
