{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 70",
                        "ChromeAndroid >= 70",
                        "Firefox >= 60",
                        "FirefoxAndroid >= 60"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        ["transform-react-jsx", { "pragma": "h" }]
    ]
}
