# APP
node_modules/
.cache
yarn-error.log
.parcel-cache/

# YARN
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
#!.yarn/plugins # slow to parse for nvim-telescope
#!.yarn/releases # slow to parse for nvim-telescope
!.yarn/sdks
!.yarn/versions
