.passwordResetForm {
	padding: 10px;
	background: white;
	width: 450px;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;

	.input-group {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 5px 0px;
	}
	.center-flex {
		justify-content: center;
		input {
			width: 50%;
		}
	}
	input, label {
		width: 100%;
	}
}
.pr-logo-zusam {
	width: 75px;
	position: absolute;
	top: calc(50% - 100px);
	left: 50%;
	transform: translate(-50%, -50%);
}
.insetInput {
	border: 1px inset grey;
	padding: 5px;
}
