.border-top     { border-top: $border-width solid $border-color !important; }
.border-bottom  { border-bottom: $border-width solid $border-color !important; }

.rounded {
  border-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
