.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;
    border-radius: 0;
}

.card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: .35rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

// Card image caps
.card-img-top {
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    border-top-left-radius: $card-inner-border-radius;
    border-top-right-radius: $card-inner-border-radius;
}
