.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
}
