.dropdown {
    background: initial;
    border: initial;
    color: inherit;

    &:focus {
        outline: none;
    }

    &.active {
        .dropdown-menu {
            display: block;
        }
    }

    .dropdown-menu {
        position: absolute;
        display: none;
        padding: 0;
        overflow: hidden;
        color: #444;
        background-color: #fff;
        border: 1px solid #7773;
        text-align: left;
        max-height: calc(90vh - 50px);
        overflow-y: auto;
        max-width: 100vw;
        overflow-x: hidden;

        & > * {
            display: block;
            padding: 5px 10px;
            cursor: pointer;
            white-space: nowrap;
            &:hover {
                background-color: #eee;
            }
        }
    }

    .dropdown-right {
        top: 100%;
        left: 0;
        border-bottom-right-radius: 4px;
        box-shadow: -4px 4px 4px #0003;
    }

    .dropdown-left {
        top: 100%;
        right: 0;
        border-bottom-left-radius: 4px;
        box-shadow: 4px 4px 4px #0003;
    }

    .dropdown-options {
        right: 30px;
        text-align: center;
        bottom: 10px;
        box-shadow: 0 0 4px #0003;
        border-radius: 4px;
    }
}
