.message-container {

    .message-preview-placeholder {
        display: block;
        width: 100%;
        max-width: 320px;
        height: 215px;
        margin: 1rem;
        background: linear-gradient(15deg, #999, #ddd);

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin: 1rem 0;
        }
    }

    .message-preview {
        width: 100%;
        max-width: 320px;
        margin: 1rem;
        position: relative;

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin: 1rem 0;
        }

        .card-miniature {
            width: 100%;
            height: 180px;
            background-size: cover;
            background-position: center;
            background-color: grey;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }

        .svg-miniature {
            width: 100%;
            height: 180px;
        }

        .text-preview {
            font-weight: normal;
            height: 180px;
            width: 100%;
            padding: 1rem;
            overflow: hidden;
            font-size: .9rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            word-wrap: break-word;

            &:first-letter {
                float: left;
                font-size: 6rem;
                color: #555;
                font-family: serif;
                margin-right: 10px;
            }
        }

        & > div {
            width: 100%;
            max-width: 320px;
            min-height: 215px;
            border: none;
            border-radius: 4px;

            .avatar {
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 10px;
                top: calc(180px - 25px);
                border-radius: 50%;
                overflow: hidden;
                background: white;
                border: 2px solid white;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(2.3);
                }
            }
            .left-buffer {
                width: 65px;
                flex-shrink: 0;
                height: 22px;
            }
            .title, .children {
                font-size: 90%;
                color: $gray-600;
            }
            .title {
                width: 100%;
                flex-shrink: 10;
                text-align: center;
                overflow: hidden;
                height: calc(1rem + 5px);
            }
            .children {
                width: 50px;
                text-align: right;
                flex-shrink: 0;
            }
        }
    }
}

.message {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    box-shadow: $material_shadow;

    .avatar {
        position: relative;
        z-index: 10;
        transition: all 0.2s ease-in-out;
        background: white;
        border: 2px solid white;
        height: 3.6rem;
        width: 3.6rem;
        margin-right: 1rem;
        &:hover {
            transform: scale(2.3);
        }
    }

    &.child {
        background-color: transparent;
        display: flex;
        box-shadow: none;
        margin-bottom: 0;
        flex-direction: row;

        .main {
            display: flex;
            flex-flow: column;
            width: 100%;
        }

        .avatar {
            height: 3rem;
            width: 3rem;
            &:hover {
                transform: scale(1.7);
            }
        }

        .message-head {
            font-size: .7rem;
            width: 5rem;

            @media (min-width: map-get($grid-breakpoints, "md")) {
                .infos {
                    display: none;
                }
                .options {
                    display: none;
                }
            }
        }

        .message-body {
            box-shadow: none;
            position: relative;
            margin-top: 1rem;
            background-color: whitesmoke;
            font-size: .9rem;
            line-height: 1.2rem;

            .infos {
                font-size: .8rem;
                color: #000;
                display: none;
                position: absolute;
                bottom: 5px;
                right: 5px;
                padding: 2px;
                background: rgba(255, 255, 255, 0.5);
                border-top-left-radius: 3px;
                span {
                    margin: 0 .25rem;
                }
            }

            &:hover {
                .infos {
                    display: flex;
                }
            }
        }

        @media (max-width: map-get($grid-breakpoints, "md")) {
            background-color: #fff;
            flex-direction: column;
            box-shadow: $material_shadow;
            align-items: start;
            border-radius: 0px;
            margin-bottom: 1rem;

            .message-body {
                background-color: #fff;
                top: 0;
                box-shadow: none;
                max-width: 100%;
                margin: 0;

                &:hover .infos {
                    display: none;
                }
            }
        }
    }
}

.more-coms {
    margin: 1rem auto;
    font-size: 85%;
    color: #555 !important;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.file-placeholder, .message-placeholder {
    width: 100%;
    height: 320px;
    position: relative;
}

.message-placeholder {
    background-color: lightgrey;
}

.file-placeholder {
    background-color: grey;
}

.message {
    .video-raw {
        filter: blur(2px) grayscale(100%) brightness(80%);
    }
}

.preview-card {
    text-align: left;
    h5 {
        font-weight: bold;
    }
    p {
        line-height: .9rem;
        font-family: $font-family-monospace;
        color: #555;
    }
}

.file-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;

    a {
        display: block;
        overflow: hidden;
        $gutter: 3px;
        margin: $gutter;
        position: relative;
        @include cols-per-breakpoint(
            (
                xs: 2,
                sm: 3,
                md: 4,
                lg: 5,
                xl: 6
            )
        );

        .miniature {
            background-color: grey;
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;

            &.removed {
                filter: grayscale(1) blur(2px) brightness(40%);
            }

            .check-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: darkgrey;
                font-size: 3rem;
            }
        }
    }
}

.message-head {
    width: 100%;
    padding: 1rem 1rem 5px 1rem;
    flex-shrink: 10;
    position: relative;
    z-index: 100;

    .author {
        font-size: 130%;
        font-weight: 600;
    }

    .infos {
        display: flex;
        flex-flow: column;
        flex-shrink: 0;
        justify-content: center;
    }
}

.message-body {
    width: 100%;

    .title {
        padding: 1rem;
        font-size: 1.1rem;
        font-weight: 700;
    }

    a.image {
        margin: 5px;
        position: relative;
    }

    p {
        margin: 0;
    }

    .card-text {
        padding: 1rem;
    }

    .options {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 500;
        color: #888;
        padding: 10px;
    }
}

.message-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    height: 2rem;
    width: 100%;
    color: #777;
    font-size: 90%;

    .infos {
        display: flex;

        .dot {
            margin: 0 5px;
        }

        .action {
            color: #444;

            &:hover {
                color: #000;
            }
        }
    }
}
