// pass in a map to define number of columns for each breakpoint
@mixin cols-per-breakpoint($params:()) {
    $gutter: 6px;
    @each $value in $params {
        @media (min-width: #{map-get($grid-breakpoints, nth($value, 1))}) {
            width: calc(#{100 / nth($value, 2)}% - #{$gutter});
        }
    }
}

@mixin hover {
    &:hover { @content; }
}

@mixin hover-focus {
    &:hover,
    &:focus {
        @content;
    }
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

// Responsive image
//
// Keep images from scaling beyond the width of their parents.

@mixin img-fluid {
    // Part 1: Set a maximum relative to the parent
    max-width: 100%;
    // Part 2: Override the height to auto, otherwise images will be stretched
    // when setting a width and height attribute on the img element.
    height: auto;
}

@mixin box-shadow($shadow...) {
    @if $enable-shadows {
        box-shadow: $shadow;
    }
}
