#nlg-modal-bg {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9997;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nlg-modal .nlg-next, #nlg-modal .nlg-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 19px 22px 22px 22px;
    margin-top: -3rem;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    transition: .5s;
}
.nlg-next:hover, .nlg-prev:hover, #nlg-close {
    background: rgba(0, 0, 0, 0.5);
}
#nlg-close {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    border-radius: 0 0 0 3px;
    padding: 10px 30px;
    font-size: 50px;
    cursor: pointer;
    margin: 0;
}
.nlg-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.nlg-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#nlg-modal {
    left: 50%;
    position: fixed;
    overflow: hidden;
    z-index: 9998;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: 300ms;
    transform: translate(-50%, -50%);
    top: 50%;
}
#nlg-modal > .nlg-media {
    position: relative;
    left: 50%;
    transition: left 300ms;
    transform: translateX(-50%);
}
#nlg-origin {
    background: rgba(0,0,0,.2);
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    padding: 1rem;

    svg {
        fill: white;
        height: 2.5rem;
        width: 2.5rem;
    }
}
