.notifications-menu {
    left: -60px !important;
}

.notification {
    font-size: 90%;
    border-bottom: 1px solid #ddd;

    .miniature {
        display: inline-block;
        margin: 0 12px 0 4px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    .infos {
        display: inline-block;
        width: 15rem;

        .description, .date {
            white-space: normal;
        }

        .date {
            font-size: 90%;
        }
    }
}
