.settings {
    form {
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            border: none !important;
            padding-left: 0;
        }

        input:invalid {
            border-left: 5px solid #a94442;
        }

        input:valid {
            border-left: 5px solid #42A948;
        }
    }
    .nav-link {
        color: #444;
    }
    .nav-link.active {
        text-decoration: none !important;
    }
    .nav-link:hover {
        text-decoration: underline;
    }
    .group-list {
        display: block;
        position: relative;
        z-index: 30;
        cursor: pointer;

        &.active {
            background-color: whitesmoke;
            .dropdown-menu {
                display: block;
            }
        }

        /* Sub Menus */
        .dropdown-menu {
            position: absolute;
            display: none;
            width: inherit;
            left: 0;
            top: 100%;
            padding: 0;
            background-color: $white;
            text-align: left;
            box-shadow: $material_shadow;

            a {
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    background-color: whitesmoke;
                }
            }
        }
    }
}
