h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: ($spacer / 2);
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 { font-size: $font-size-base * 2.5 }
h2, .h2 { font-size: $font-size-base * 2 }
h3, .h3 { font-size: $font-size-base * 1.75 }
h4, .h4 { font-size: $font-size-base * 1.5 }
h5, .h5 { font-size: $font-size-base * 1.25 }
h6, .h6 { font-size: $font-size-base }

.lead {
    font-size: $font-size-base * 1.25;
    font-weight: 300;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}
