@import "bootstrap-functions";
@import "custom";
@import "variables";
@import "mixins";

@import "bootstrap-mixins-breakpoints";
@import "bootstrap-mixins-grid";
@import "bootstrap-mixins-grid-framework";
@import "bootstrap-mixins-transition";
@import "bootstrap-mixins-forms";
@import "bootstrap-mixins-gradients";
@import "bootstrap-mixins-buttons";
@import "bootstrap-mixins-borders";

@import "root";
@import "reboot";
@import "types";
@import "images";
@import "grid";
@import "forms";
@import "buttons";
@import "nav";
@import "card";
@import "embed";
@import "utils";
@import "message";
@import "embed";
@import "writer";
@import "spinner";
@import "nlg";
@import "settings";
@import "login";
@import "navbar";

@media (max-width: map-get($grid-breakpoints, "md")) {
    .container {
        padding: 0;
    }
}

.fa-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.contained-height {
    max-height: calc(100vh - 50px);
}

.content {
    position: relative;
    z-index: 0;
}

.material-shadow {
    box-shadow: $material_shadow;
    transition: all 0.2s ease-in-out;
    &:hover, &:focus {
        box-shadow: $material_shadow_hover;
    }
}


.dropdown {
    background: initial;
    border: initial;
    color: inherit;
    &:focus {
        outline: none;
    }
}

body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

article {
    padding-top: 2rem;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    height: 1rem;
    width: 100%;
    background-color: lightgrey;
    div {
        height: 100%;
        background-color: $zusam_color;
        transition: 3s;
    }
}

.identite {
    .avatar {
        margin-top: 1rem;
    }

    form {
        border-left: 1px solid #ddd;
        padding-left: 1rem;
        margin-top: 1rem;
    }
}

.global-alert {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 500;
    margin: 0;
}

.video {
	margin: 5px;
}

.card-body {
    padding: .45rem .65rem;
}

.max-width-450px-md {
    max-width: 450px;
    @media (max-width: map-get($grid-breakpoints, "md")) {
        max-width: 100%;
    }
}
