@import "../bootstrap-light/scss/functions";
@import "custom";
@import "../bootstrap-light/scss/bootstrap.scss";

// pass in a map to define number of columns for each breakpoint
@mixin cols-per-breakpoint($params:()) {
    $gutter: 6px;
    @each $value in $params {
        @media (min-width: #{map-get($grid-breakpoints, nth($value, 1))}) {
            width: calc(#{100 / nth($value, 2)}% - #{$gutter});
        }
    }
}

$zusam_color: #f7a71b;
$navbar_height: 50px;

@media (max-width: map-get($grid-breakpoints, "md")) {
    .container {
        padding: 0;
    }
}

.fa-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.p-1 {
    padding: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.font-size-80 {
    font-size: 80%;
}

.w-3 {
    width: 3rem !important;
}

.ml-1 {
    margin-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.capitalize {
    text-transform: capitalize;
}

.seamless-link {
    cursor: pointer;
    &, &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.contained-height {
    max-height: calc(100vh - 50px);
}

.z-index-100 {
    position: relative;
    z-index: 100;
}

.content {
    position: relative;
    z-index: 0;
}

.file-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;

    a {
        display: block;
        overflow: hidden;
        $gutter: 3px;
        margin: $gutter;
        position: relative;
        @include cols-per-breakpoint(
            (
                xs: 2,
                sm: 3,
                md: 4,
                lg: 5,
                xl: 6
            )
        );

        .miniature {
            background-color: grey;
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;

            .check-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: darkgrey;
                font-size: 3rem;
            }
        }
    }
}

.embed-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
        max-width: 100%;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-1by1 {
    padding-bottom: 100%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-preview {
    display: inline-block;
    max-width: 100%;
    height: 270px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #444;

    *::before, *::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    *::before {
        z-index: 1;
    }

    *::after {
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        z-index: 2;
    }

    .youtube::before {
        background: #212121;
        height: 48px;
        width: 68px;
        margin-left: -34px;
        margin-top: -24px;
        border-radius: 10px;
        opacity: .8;
        transition: all .25s;
    }

    &:hover > .youtube::before {
        opacity: 1;
        background: #f00;
    }

    .youtube::after {
        border-width: 10px 0 10px 20px;
        margin: -10px 0 0 -8px;
    }

    .twitch::before {
        background: #212121;
        height: 100%;
        width: 100%;
        opacity: .8;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover > .twitch::after {
        border-color: transparent transparent transparent #a991d4 !important;
    }

    .twitch::after {
        border-width: 20px 0 20px 35px;
        margin: -20px 0 0 -17px;
        transition: all .25s;
    }

    .soundcloud::before {
        background: #f60;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;
        border-radius: 100%;
        opacity: .95;
        transition: all .25s;
    }

    &:hover > .soundcloud::before {
        background: #f70;
        opacity: 1;
    }

    .soundcloud::after {
        border-width: 8px 0 8px 12px;
        margin: -8px 0 0 -4px;
    }

    .bandcamp::before {
        background: #fff;
        height: 50px;
        width: 54px;
        margin-left: -34px;
        margin-top: -24px;
        border-radius: 3px;
        transition: all .25s;
        box-shadow: 0px 0px 4px #444;
    }

    .bandcamp::after {
        border-color: transparent transparent transparent #000;
        border-width: 10px 0 10px 20px;
        margin: -9px 0 0 -16px;
    }
}

.message-container {

    .message-preview-placeholder {
        display: block;
        width: 100%;
        max-width: 320px;
        height: 215px;
        margin: 1rem;
        background: linear-gradient(15deg, #999, #ddd);

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin: 1rem 0;
        }
    }

    .message-preview {
        width: 100%;
        max-width: 320px;
        margin: 1rem;

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin: 1rem 0;
        }

        .card-miniature {
            width: 100%;
            height: 180px;
            background-size: cover;
            background-position: center;
            background-color: grey;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }

        .svg-miniature {
            width: 100%;
            height: 180px;
        }

        .text-preview {
            height: 180px;
            width: 100%;
            padding: 1rem;
            overflow: hidden;
            font-size: .9rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            word-wrap: break-word;

            &:first-letter {
                float: left;
                font-size: 6rem;
                color: #555;
                font-family: serif;
                margin-right: 10px;
            }
        }

        & > div {
            width: 100%;
            max-width: 320px;
            min-height: 215px;
            border: none;
            border-radius: 4px;

            .avatar {
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 10px;
                top: calc(180px - 25px);
                border-radius: 50%;
                overflow: hidden;
                background: white;
                border: 2px solid white;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(2.3);
                }
            }
            .left-buffer {
                width: 65px;
                flex-shrink: 0;
                height: 22px;
            }
            .title, .children {
                font-size: 90%;
                color: $gray-600;
            }
            .title {
                width: 100%;
                flex-shrink: 10;
                text-align: center;
                overflow: hidden;
                height: calc(1rem + 5px);
            }
            .children {
                width: 47px;
                text-align: right;
                flex-shrink: 0;
            }
        }
    }
}

.main-nav {
    width: 100%;
    background-color: $zusam_color;
    position: sticky;
    top: 0;
    z-index: 100;
    height: $navbar_height;
    color: white;

    .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu {
        padding: 0 8px;
        position: relative;
        cursor: pointer;
        height: 100%;

        &.active {
            background-color: adjust-hue($zusam_color, 5deg);
        }

        .avatar {
            height: 32px;
            width: 32px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            img {
                height: 100%;
            }
        }

        &.active {
            .dropdown-menu {
                display: block;
            }
        }

        /* Sub Menus */
        .dropdown-menu {
            position: absolute;
            display: none;
            width: inherit;
            left: 0;
            top: 100%;
            padding: 0;
            background-color: adjust-hue($zusam_color, 5deg);
            text-align: left;
            overflow: hidden;
            border-bottom-right-radius: 4px;

            a {
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    background-color: adjust-hue($zusam_color, 10deg);
                }
            }
        }
    }

    .groups {
        cursor: pointer;
        position: relative;
        margin-left: auto;
        background-color: $zusam_color;
        height: 100%;
        line-height: 200%;

        &.active {
            background-color: adjust-hue($zusam_color, 5deg);
            .dropdown-menu {
                display: block;
            }
        }

        .fa-icon {
            font-size: 0.7rem;
        }

        /* Sub Menus */
        .dropdown-menu {
            position: absolute;
            display: none;
            width: inherit;
            right: 0;
            top: 100%;
            padding: 0;
            background-color: adjust-hue($zusam_color, 5deg);
            text-align: left;
            overflow: hidden;
            border-bottom-left-radius: 4px;

            a {
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    background-color: adjust-hue($zusam_color, 10deg);
                }
            }
        }
    }

    .back {
        font-size: 1.2rem;
        padding: 0px 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: adjust-hue($zusam_color, 5deg);
        }
    }
}

$material_shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
$material_shadow_hover: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

.material-shadow {
    box-shadow: $material_shadow;
    transition: all 0.2s ease-in-out;
    &:hover, &:focus {
        box-shadow: $material_shadow_hover;
    }
}

.login, .signup {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient($zusam_color, adjust-hue($zusam_color, -5deg));
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;

    .login-form, .signup-form {
        width: calc(100% - 20px);
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-flow: column;

        img {
            margin-bottom: 3rem;
        }
        form {
            width: 100%;
            max-width: 20rem;
            text-align: center;
        }
    }

    .welcome {
        color: white;
        text-align: center;
        margin-bottom: 3rem;
    }

    .forgot-password {
        display: block;
        margin-bottom: 1rem;
        margin-top: -0.5rem;
        text-align: right;
        color: white;
        font-size: 0.8rem;
        span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .title {
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
    }
}

.dropdown {
    background: initial;
    border: initial;
    color: inherit;
    &:focus {
        outline: none;
    }
}

body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

article {
    padding-top: 2rem;
}

.message {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    box-shadow: $material_shadow;

    .message-head {
        width: 100%;
        padding: 1rem;
        flex-shrink: 10;
        position: relative;
        z-index: 100;

        .infos {
            display: flex;
            flex-flow: column;
            flex-shrink: 0;
        }
        .options {
            cursor: pointer;
            margin-left: auto;
            width: 2rem;
            display: flex;
            justify-content: center;

            &.active {
                .dropdown-menu {
                    display: block;
                }
            }

            /* Sub Menus */
            .dropdown-menu {
                background-color: #fff;
                display: none;
                padding: 0;
                position: absolute;
                right: 20px;
                text-align: center;
                top: 35px;
                box-shadow: $material_shadow;
                color: #444;

                a {
                    display: block;
                    padding: 7px 14px;
                    cursor: pointer;
                    white-space: nowrap;
                    font-size: 1.1rem;

                    &:hover {
                        background-color: whitesmoke;
                    }
                }
            }
        }
    }

    .message-body {
        width: 100%;

        .title {
            margin: 1rem 1rem 0 1rem;
            font-size: 1.1rem;
            font-weight: 700;
        }

        a.image {
            margin: 5px;
            position: relative;
        }

        p {
            margin: 0;
        }

        .card-text {
            padding: 1rem;
        }

        .options {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 500;
			color: #888;
			padding: 10px;

            &.active {
                .dropdown-menu {
                    display: block;
                }
            }

            /* Sub Menus */
            .dropdown-menu {
                background-color: #fff;
                display: none;
                padding: 0;
                position: absolute;
                right: 12px;
                text-align: center;
                top: 32px;
                box-shadow: $material_shadow;
                color: #444;

                a {
                    display: block;
                    padding: 7px 14px;
                    cursor: pointer;
                    white-space: nowrap;
                    font-size: 1.1rem;

                    &:hover {
                        background-color: whitesmoke;
                    }
                }
            }
        }
    }

    .avatar {
        position: relative;
        z-index: 10;
        transition: all 0.2s ease-in-out;
        background: white;
        border: 2px solid white;
        height: 3rem;
        width: 3rem;
        &:hover {
            transform: scale(2.3);
        }
    }

    &.child {
        background-color: transparent;
        flex-direction: row;
        box-shadow: none;
        align-items: start;
        margin-bottom: 0;

        .message-body {
            box-shadow: none;
            position: relative;
            margin: 1rem 0;
            max-width: calc(100% - 5rem);
            background-color: whitesmoke;
            padding-right: 1rem;
            font-size: .9rem;
            line-height: 1.1rem;

            .infos {
                font-size: .8rem;
                color: #000;
                display: none;
                position: absolute;
                bottom: 5px;
                right: 5px;
                padding: 2px;
                background: rgba(255, 255, 255, 0.5);
                border-top-left-radius: 3px;
                span {
                    margin: 0 .25rem;
                }
            }

            &:hover {
                .infos {
                    display: flex;
                }
            }
        }

        @media (max-width: map-get($grid-breakpoints, "md")) {
            background-color: #fff;
            flex-direction: column;
            box-shadow: $material_shadow;
            align-items: start;
            border-radius: 0px;
            margin-bottom: 1rem;

            .message-body {
                background-color: #fff;
                top: 0;
                box-shadow: none;
                max-width: 100%;
                margin: 0;

                &:hover .infos {
                    display: none;
                }
            }
        }
    }
}

.more-coms {
    margin: 0 0 1rem 1rem;
    font-size: 85%;
    color: #555 !important;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.write {
    background-color: $zusam_color;
    border-radius: 100%;
    bottom: 2rem;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    height: 4rem;
    justify-content: center;
    padding: 19px;
    position: fixed;
    right: 2rem;
    width: 4rem;
    z-index: 500;
    color: #fff;
    &:hover {
        background-color: adjust-hue($zusam_color, -15deg);
        color: #fff;
    }
}

.message.child .writer {
    width: 100%;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .message.child .writer {
        position: relative;
        top: 12px;
    }
}

.writer {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    a.image {
        margin: 5px;
        position: relative;
    }

    #title {
        width: 100%;
        padding: 10px;
        display: inline;
        border: none;
        border-bottom: 1px solid #eee;
        &::placeholder {
            color: #999;
        }
    }

    #text {
        resize: none;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #eee;
        &::placeholder {
            color: #999;
        }
    }

    .options {
        padding: 5px 0;
        margin-top: 5px;
        display: flex;
        align-content: center;

        .option {
            background: none;
            border: none;
            margin: 0 5px;
            color: #888;
            font-size: 1.3rem;
            cursor: pointer;
            &:hover {
                color: #444;
            }
        }

        .submit {
            margin-left: auto;
            background-color: #f7a71b;
            border: none;
            border-radius: 2px;
            color: white;
            padding: 4px 10px;
            cursor: pointer;
            &:hover {
                background-color: adjust-hue($zusam_color, -15deg);
            }
        }
    }
}

.identite {
    .avatar {
        margin-top: 1rem;
    }

    form {
        border-left: 1px solid #ddd;
        padding-left: 1rem;
        margin-top: 1rem;
    }
}

.global-alert {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 500;
    margin: 0;
}

.settings {
    form {
        @media (max-width: map-get($grid-breakpoints, "sm")) {
            border: none !important;
            padding-left: 0;
        }

        input:invalid {
            border-left: 5px solid #a94442;
        }

        input:valid {
            border-left: 5px solid #42A948;
        }
    }
    .nav-link {
        color: #444;
    }
    .nav-link.active {
        text-decoration: none !important;
    }
    a.nav-link:hover {
        text-decoration: underline;
    }
    .group-list {
        display: block;
        position: relative;
        z-index: 30;
        cursor: pointer;

        &.active {
            background-color: whitesmoke;
            .dropdown-menu {
                display: block;
            }
        }

        /* Sub Menus */
        .dropdown-menu {
            position: absolute;
            display: none;
            width: inherit;
            left: 0;
            top: 100%;
            padding: 0;
            background-color: $white;
            text-align: left;
            box-shadow: $material_shadow;

            a {
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    background-color: whitesmoke;
                }
            }
        }
    }
}

#nlg-modal-bg {
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9997;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nlg-modal .nlg-next, #nlg-modal .nlg-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 19px 22px 22px 22px;
    margin-top: -3rem;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    transition: .5s;
}
.nlg-next:hover, .nlg-prev:hover, #nlg-close {
    background: rgba(0, 0, 0, 0.5);
}
#nlg-close {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    border-radius: 0 0 0 3px;
    padding: 10px 30px;
    font-size: 50px;
    cursor: pointer;
    margin: 0;
}
.nlg-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.nlg-prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
#nlg-modal {
    left: 50%;
    position: fixed;
    overflow: hidden;
    z-index: 9998;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: 300ms;
    transform: translate(-50%, -50%);
    top: 50%;
}
#nlg-modal > .nlg-media {
    position: relative;
    left: 50%;
    transition: left 300ms;
    transform: translateX(-50%);
}
.spinner.orange-spinner {
    opacity: 1;
    z-index: 1;
}
.spinner.orange-spinner > div {
    background-color: #f7a71b;
	box-shadow: 0px 0px 5px #333;
}
.spinner {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 500ms;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    animation: nlg-stretchdelay 1.2s infinite ease-in-out;
}
.spinner :nth-child(2) {
    animation-delay: -1.1s;
}
.spinner :nth-child(3) {
    animation-delay: -1.0s;
}
.spinner :nth-child(4) {
    animation-delay: -0.9s;
}
.spinner :nth-child(5) {
    animation-delay: -0.8s;
}
@keyframes nlg-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
    }
}

.file-placeholder {
    background-color: grey;
    width: 100%;
    height: 320px;
    position: relative;
}

.message {
    .video-raw {
        filter: blur(2px) grayscale(100%) brightness(80%);
    }
}

.writer .video-uploaded .spinner {
    display: none;
}

.video {
	margin: 5px;
}
.card-body {
    padding: .45rem .65rem;
}

.max-width-450px-md {
    max-width: 450px;
    @media (max-width: map-get($grid-breakpoints, "md")) {
        max-width: 100%;
    }
}
