@import "../bootstrap-light/scss/functions";
@import "custom";
@import "../bootstrap-light/scss/bootstrap.scss";

// pass in a map to define number of columns for each breakpoint
@mixin cols-per-breakpoint($params:()) {
    $gutter: 6px;
    @each $value in $params {
        @media (min-width: #{map-get($grid-breakpoints, nth($value, 1))}) {
            width: calc(#{100 / nth($value, 2)}% - #{$gutter});
        }
    }
}

$zusam_color: #f7a71b;
$navbar_height: 50px;

@media (max-width: map-get($grid-breakpoints, "md")) {
    .container {
        padding: 0;
    }
}

.fa-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.p-1 {
    padding: 1rem;
}

.w-3 {
    width: 3rem !important;
}

.ml-1 {
    margin-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.capitalize {
    text-transform: capitalize;
}

.seamless-link {
    cursor: pointer;
    &, &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.contained-height {
    max-height: calc(100vh - 50px);
}

.file-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;

    a {
        display: block;
        overflow: hidden;
        $gutter: 3px;
        margin: $gutter;
        @include cols-per-breakpoint(
            (
                xs: 2,
                sm: 3,
                md: 4,
                lg: 5,
                xl: 6
            )
        );

        .miniature {
			background-color: grey;
			width: 100%;
			padding-bottom: 100%;
			background-size: cover;
			background-position: center;
		}
    }
}

.embed-container {
    width: 100%;
    overflow: hidden;
    & > * {
        max-width: 100%;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-preview {
    width: 320px;
    max-width: 100%;
    height: 180px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 3px #444;

    *::before, *::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    *::before {
        z-index: 1;
    }

    *::after {
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        z-index: 2;
    }

    .youtube::before {
        background: #212121;
        height: 48px;
        width: 68px;
        margin-left: -34px;
        margin-top: -24px;
        border-radius: 10px;
        opacity: .8;
        transition: all .25s;
    }

    &:hover > .youtube::before {
        opacity: 1;
        background: #f00;
    }

    .youtube::after {
        border-width: 10px 0 10px 20px;
        margin: -10px 0 0 -8px;
    }

    .soundcloud::before {
        background: #f60;
        height: 50px;
        width: 50px;
        margin-left: -25px;
        margin-top: -25px;
        border-radius: 100%;
        opacity: .95;
        transition: all .25s;
    }

    &:hover > .soundcloud::before {
        background: #f70;
        opacity: 1;
    }

    .soundcloud::after {
        border-width: 8px 0 8px 12px;
        margin: -8px 0 0 -4px;
    }
}

.message-container {

    @media (max-width: map-get($grid-breakpoints, "sm")) {
        margin-right: 0;
    }

    .message-preview-placeholder {
        display: block;
        width: 100%;
        max-width: 320px;
        height: 215px;
        margin: 0 0 2rem 2rem;
        background: linear-gradient(15deg, #999, #ddd);

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin-left: 0;
        }
    }

    .message-preview {
        width: 100%;
        max-width: 320px;
        margin: 0 0 2rem 2rem;

        @media (max-width: map-get($grid-breakpoints, "sm")) {
            margin-left: 0;
        }

        .card-miniature {
            width: 100%;
            height: 180px;
            background-size: cover;
            background-position: center;
            background-color: grey;
        }

        .svg-miniature {
            width: 100%;
            height: 180px;
        }

        & > div {
            width: 100%;
            max-width: 320px;
            min-height: 215px;
            border: none;

            .avatar {
                display: block;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 10px;
                top: calc(180px - 25px);
                border-radius: 50%;
                overflow: hidden;
                background: white;
                border: 2px solid white;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(2);
                }
            }
            .left-buffer {
                width: 65px;
                flex-shrink: 0;
                height: 22px;
            }
            .title, .children {
                font-size: 90%;
                color: $gray-600;
            }
            .title {
                width: 100%;
                flex-shrink: 10;
                text-align: center;
            }
            .children {
                width: 47px;
                text-align: right;
                flex-shrink: 0;
            }
        }
    }
}

.nav {
    width: 100%;
    background-color: $zusam_color;
    position: sticky;
    top: 0;
    z-index: 100;
    height: $navbar_height;
    color: white;

    .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .avatar {
        margin-left: 8px;
        height: calc(100% - 15px);
        position: relative;

        img {
            height: 100%;
        }
    }

    .groups {
        cursor: pointer;
        position: relative;
        margin-left: auto;
        background-color: $zusam_color;
        height: 100%;
        line-height: 200%;

        &.active {
            background-color: adjust-hue($zusam_color, 5deg);
            .dropdown-menu {
                display: block;
            }
        }

        .fa-icon {
            font-size: 0.7rem;
        }

        /* Sub Menus */
        .dropdown-menu {
            position: absolute;
            display: none;
            width: inherit;
            right: 0;
            top: 100%;
            padding: 0;
            background-color: adjust-hue($zusam_color, 5deg);
            text-align: left;

            a {
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    background-color: adjust-hue($zusam_color, 10deg);
                }
            }
        }
    }

    .back {
        font-size: 1.2rem;
        padding: 0px 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: adjust-hue($zusam_color, 5deg);
        }
    }
}

$material_shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
$material_shadow_hover: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

.material-shadow {
    box-shadow: $material_shadow;
    transition: all 0.2s ease-in-out;
    &:hover, &:focus {
        box-shadow: $material_shadow_hover;
    }
}

.login {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient($zusam_color, adjust-hue($zusam_color, -5deg));
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;

    .login-form {
        width: calc(100% - 20px);
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-flow: column;

        img {
            margin-bottom: 3rem;
        }
        form {
            width: 100%;
            max-width: 20rem;
            text-align: center;
        }
    }
}

.dropdown {
    background: initial;
    border: initial;
    color: inherit;
    &:focus {
        outline: none;
    }
}

body {
    height: 100vh;
    overflow: hidden;
}

article {
    overflow-y: auto;
    padding-top: 2rem;
    height: calc(100vh - #{$navbar_height});
}

.message {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    box-shadow: $material_shadow;

    .message-head {
        .infos {
            display: flex;
            flex-flow: column;
            flex-shrink: 0;
        }
        .title {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            width: 100%;
            font-size: 1.1rem;
            font-weight: bold;
            justify-content: center;
        }
    }

    .message-body {
        width: 100%;
        padding-bottom: 1rem;

        a.image {
            margin: 5px;
        }

        p {
            margin: 0;
        }

        .card-text {
            padding: 1rem 1rem 0 1rem;
        }
    }

    .avatar {
        position: relative;
        z-index: 10;
        transition: all 0.2s ease-in-out;
        height: 3rem;
        width: 3rem;
        &:hover {
            transform: scale(2);
        }
    }

    &.child {
        background-color: transparent;
        flex-direction: row;
        box-shadow: none;
        align-items: start;
        margin-bottom: 1rem;

        .message-body {
            background-color: whitesmoke;
            box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1),0 1px 2px rgba(255, 255, 255, 0.2);
            padding-bottom: 1rem;
            position: relative;
            top: 8px;

            .infos {
                font-size: .8rem;
                color: #555;
                display: none;
                position: absolute;
                bottom: 0px;
                right: 5px;
                span {
                    margin-left: .5rem;
                }
            }

            &:hover {
                .infos {
                    display: flex;
                }
            }
        }

        @media (max-width: map-get($grid-breakpoints, "md")) {
            background-color: #fff;
            flex-direction: column;
            box-shadow: $material_shadow;
            align-items: start;

            .message-body {
                top: 0;
                box-shadow: none;
                padding-bottom: 1rem;

                &:hover .infos {
                    display: none;
                }
            }
        }
    }
}

.more-coms {
    margin: 0 0 1rem 1rem;
    font-size: 85%;
    color: #555 !important;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: underline !important;
    }
}

.write {
    position: fixed;
    z-index: 500;
    bottom: 2rem;
    right: 2rem;
    border-radius: 100%;
    font-size: 2rem;
    background-color: $zusam_color;
    padding: 16px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: adjust-hue($zusam_color, -15deg);
    }
}

.message.child .writer {
    position: relative;
    top: 8px;
    width: 100%;
}

.writer {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    #title {
        width: 100%;
        padding: 10px;
        display: inline;
        border: none;
        border-bottom: 1px solid #eee;
        &::placeholder {
            color: #999;
        }
    }

    #text {
        resize: none;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #eee;
        &::placeholder {
            color: #999;
        }
    }

    .options {
        padding: 5px 0;
        margin-top: 5px;
        display: flex;
        align-content: center;

        .option {
            background: none;
            border: none;
            margin: 0 5px;
            color: #888;
            font-size: 1.3rem;
            cursor: pointer;
            &:hover {
                color: #444;
            }
        }

        .submit {
            margin-left: auto;
            background-color: #f7a71b;
            border: none;
            border-radius: 2px;
            color: white;
            padding: 4px 10px;
            cursor: pointer;
            &:hover {
                background-color: adjust-hue($zusam_color, -15deg);
            }
        }
    }
}
