.slide-menu {
	top: 0px;
	background: white;
	height: 100%;
	z-index: 25;
	font-size: 20px;
	padding: 0px;
	margin: 0px;

	.separator {
		padding: 0;
		width: 100%;
		cursor: default;
		height: 20px;
	}
	
	& > * {
		display: block;
		text-align: left;
		text-decoration: none;
	}
}
#mainmenu {
	background-color: #444444;
	color: lightgrey;
	width: 200px; 
	box-shadow: inset -10px 0px 10px -8px rgba(0,0,0,0.8);
	font-size: 16px;
	
	@media (min-width: 680px) {
		left: 200px;
	}

	* {
		color: lightgrey;
	}

	.section-separator {
		display: block;
		width: 40%;
		height: 3px;
		background-color: #F9B004;
		margin: 0px auto;
	}
	.menu-profil {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 40px;

		.profil {
			font-weight: bolder;
			text-decoration: none;
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 0px;
			width: 100%;
			height: 100%;
			overflow: hidden;
		
			&:hover {
				background-color: rgba(0,0,0,0.2);
				//color: #F7A71B;
			}

			.selected {
				background-color: rgba(0,0,0,0.5);
				//color: #F7A71B;
			}

			img, svg {
				height: 24px;
				width: 24px;
				margin: 8px;
				border-radius: 100%;

				.bg {
					fill: #f7a71b;
				}
				.letter {
					fill: #fff;
				}
			}
		}
		.disconnect {
			padding: 8px 10px 8px 0px;
			cursor: pointer;
			font-size: 20px;
			
			&:hover {
				background-color: rgba(0,0,0,0.2);
				//color: #F7A71B;
			}
			
			a {
				text-decoration: none;
				flex-grow: 2;
				padding: 5px 5px;
				border: none;
				background: none;
				margin: 0px 5px;
				cursor: pointer;
				&:hover {
					color: white;
				}
			}
		}
	}
	.action {
		color: darkgrey;
	}
	.fontgrey {
		color: grey;
	}
	.list-section {
		//max-height: calc(100% - 115px);
		max-height: 100%;
		height: 100%;
		overflow: auto;
		
		.selected {
			background-color: rgba(0,0,0,0.5) !important;
		}
		
		.section-title {
			width: calc(100% - 20px);
			margin: 7px 10px;
			color: #F7A71B;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.section-entry {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-bottom: 2px solid rgba(0,0,0,0.1);
			border-top: 1px solid rgba(255,255,255,0.1);
		
			&:hover {
				background-color: rgba(0,0,0,0.1);
			}
		
			.forum-link {
				text-decoration: none;
				flex-grow: 2;
				padding: 5px 5px;
				border: none;
				background: none;
				margin: 0px 5px;
				cursor: pointer;
				word-break: break-all;
				
				.notif {
					font-size: 8px;
					color: #F9B004;
					position: relative;
					bottom: 2px;
				}
			}
			.menu-highlight:hover {
				color: white;
			}
			.forum-settings {
				padding: 5px;
				text-decoration: none;
				margin: 0px 5px;
				cursor: pointer;
				
				&:hover i {
					animation: fa-spin 2s infinite linear;
					color: white;
				}
			}
		}
	}
	.news-highlight {
		color: white;
		font-weight: bold;
	}
	.notification {
		display: flex;
		align-items: stretch;
		margin: 0px;
		width: 100%;
		position: relative;

		a {
			display: block;
			text-decoration: none;
		}

		.title {
			width: 80%;
			padding: 6px 10px;
			cursor: pointer;
		}
		.remove {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 20%;
			text-align: center;
			cursor: pointer;
			&:hover i {
				color: white;
			}
		}
	}
}
