#lightbox {
	display: block;
	position: fixed;
	z-index: 8000;
	//padding: 5px;
	//background: white;
	box-shadow: 0px 0px 20px black;
	background-color: black;
	width: calc(80vw - 20px);
	height: calc(80vh - 20px);
	//min-width: 200px;
	//min-height: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid rgb(20,20,20);
	
	.zoomedImage {
		//cursor: url(Assets/magnify.cur), default;
		display: block;
		cursor: default;
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.close {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: grey;
		font-size: 25px;
		color: white;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}


	.prev, .next {
		position: absolute;
		top: 0px;
		height: 100%;
		z-index: 15;
		display: flex;
		align-items: center;
		opacity: 0.6;
		transition: all 0.2s;
		cursor: pointer;
		justify-content: center;

		i {
			width: 50px;
			position: absolute;
			top: 50%;
			color: white;
			font-size: 3em;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		}
	}

	.next i {
		right: 15px;
		transform: translate(0%,-50%);
	}
	
	.prev i {
		left: 0px;
		transform: translate(0%,-50%);
	}
	
	.prev:hover, .next:hover {
		opacity: 1;
	}

	.prev {
		left: 0px;
		width: 30%;
	}

	.next {
		right: 0px;
		width: 70%;
	}
}

.lightbox-mask {
	position: fixed;
	z-index: 7999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50);
	}
}
.zoomPossible {
	cursor: url(Assets/magnify.cur), default;
}
.dl-button {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 14px;
	border: none;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.55);
	cursor: pointer;
	color: black;
	z-index: 100;
	text-decoration: none;
}
.dl-button:hover {
	background-color: rgba(255, 255, 255, 0.75);
}
.editIMG {
	position: absolute;
	left: 10px;
	font-size: 14px;
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	color: black;
	z-index: 100;
}
.editIMG:hover {
	background-color: white;
}
.cw {
	top: 10px;
}
.ccw {
	top: 44px;
}
