/*
   Animation example, for spinners
*/
.spin-hover:hover {
	animation: spin 2s infinite linear;
	display: inline-block;
}
.animate-spin {
	animation: spin 2s infinite linear;
	display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

