name: Container tests

on: [pull_request]

jobs:
  prod:
    name: Build prod container
    runs-on: ubuntu-latest

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Build container
        run: make prod

  dev:
    name: Build dev container
    runs-on: ubuntu-latest

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Build container
        run: make dev
