name: Integration Tests

on: [pull_request]

jobs:
  integration:
    name: Run integration tests
    runs-on: ubuntu-latest

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        # https://github.com/actions/setup-python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.12'

      - name: Set up Docker
        # https://github.com/marketplace/actions/docker-setup-docker
        uses: docker/setup-docker-action@v4.7.0

      - name: Run integration tests
        run: make integ-tests CONTAINER_PGRM=docker
