name: Lang tests

on: [pull_request]

jobs:
  validate-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Validate JSON files
        run: |
          find translations -type f -name "*.json" -exec jq . {} \; || exit 1

      - name: Check for missing translations for the API [en_US]
        run: |
          cd api && php bin/console debug:trans --only-missing -n en_US
