name: Lang tests

on: [pull_request]

jobs:
  validate-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype, curl, dom, fileinfo, iconv, intl, json, mbstring, pdo_sqlite, imagick, posix, simplexml, xml, xmlwriter
          coverage: none

      - name: Install dependencies
        run: cd api && composer install --prefer-dist --no-progress

      - name: Validate JSON files
        run: |
          find translations -type f -name "*.json" -exec jq . {} \; || exit 1

      - name: Check for missing translations for the API [en_US]
        run: |
          cd api && php bin/console debug:trans --only-missing -n en_US
