name: Node Tests

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        node-version: ['18', '20', '22', '24']

    steps:
    # https://github.com/marketplace/actions/checkout
    - name: Checkout code
      uses: actions/checkout@v6.0.2

    # https://github.com/actions/setup-node
    - name: Set up Node.js
      uses: actions/setup-node@v6.2.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: cd app && npm install --include=dev

    - name: Run ESLint
      run: cd app && npm run analyze

    - name: Run stylelint
      run: cd app && npm run stylelint

    - name: Build
      run: cd app && npm run build
