name: Node Tests

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        node-version: ['18', '20', '22']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: cd app && npm install --include=dev

    - name: Run ESLint
      run: cd app && npm run analyze

    - name: Run stylelint
      run: cd app && npm run stylelint

    - name: Build
      run: cd app && npm run build
