name: PHP Tests

on: [pull_request]

jobs:
  php:
    name: Run PHP tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php-version: ['8.3', '8.4', '8.5']

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      # https://github.com/shivammathur/setup-php
      - name: Setup PHP
        uses: shivammathur/setup-php@2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype, curl, dom, fileinfo, iconv, intl, json, mbstring, pdo_sqlite, imagick, posix, simplexml, xml, xmlwriter
          coverage: none

      - name: Validate composer.json and composer.lock
        run: cd api && composer validate --strict

      - name: Install dependencies
        run: cd api && composer install --prefer-dist --no-progress

      - name: Run PHPUnit tests
        run: cd api && php bin/phpunit

      - name: Run static analysis
        run: cd api && php bin/composer analyze

      - name: Run linting
        run: cd api && php bin/composer lint
